$top:15px;
$left:15px;
$z-index:1;
$color:#232323;
$pos-a:absolute;
$pos-r:relative;
$mainColor:#fff;
$secondColor:#000;
$fullWidth:100%;
$fullHeight:100%;
$m-bottom:20px;
$input-color: #666 !default;
$input-bg-color: #666 !default;
$input-border-color: #666 !default;

// Focus
$input-focus-color: #666 !default;
$input-focus-bg-color: #666 !default;
$input-focus-border-color: #666 !default;

// Placeholder
$input-placeholder-color: #666 !default;
